@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.muzik-icerik {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}
.resim-icerik {
  position: relative;
  width: 110px;
}
.resim-icerik::after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
  box-shadow: 0 0 0 10px #000;
}
.resim-icerik img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: dondur 3s linear infinite;
  animation-play-state: paused;
}
.muzik-icerik.play .resim-icerik img {
  animation-play-state: running;
}
@keyframes dondur {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigasyon {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.aksiyon-btn {
  background-color: #fff;
  border: 0;
  color: #bdbdbd;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}
.aksiyon-btn.aksiyon-btn-buyuk {
  color: #cdc2d0;
  font-size: 30px;
}
.muziksiralama {
  background-color: rgba(255, 255, 255, 0.5);
  width: calc(100% - 40px);
  padding: 10px 10px 10px 100px;
  border-radius: 0 0 15px 15px;
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}
.muziksiralama.play {
  opacity: 1;
  transform: translateY(90px);
}
.muziksiralama button {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 45px;
  display: block;
  width: 300px;
  height: 60px;
  border: none;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
}
.muzik-bilgi {
  background-color: rgba(255, 255, 255, 0.5);
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}
.muzik-icerik.play .muzik-bilgi {
  opacity: 1;
  transform: translateY(-100%);
}
.muzik-bilgi h4 {
  margin: 0;
}
.ilerleme-cubugu-icerik {
  background-color: #fff;
  border: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}
.ilerleme-cubugu {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transform: width 0.1s linear;
}
.p1 {
  color: #7866ff;
}
.p2 {
  color: #7866ff;
}
